<div class="container">
	<div class="appHead">
		<div class="text-bold">FORM - I</div>
		<div>(Form for Trade Unions)</div>
		<div>Annual returns prescribed under Section 28 of the Trade Unions Act, 1926 for The year ending 31st December, 20………………….</div>
		<div class="text-bold">Part - A</div>
	</div>
	<div class="grid-2">
		
		<div>1. Name of the Union:</div>
			<div> <input type="text" class="form-control"></div>
		<div>2. Address of the Union:</div>
			<div> <input type="text" class="form-control"></div>
		<div>3. Number and date of certificate of registration:</div>
			<div> <input type="text" class="form-control"></div>
		<div>4. Classification of industry (to be shown as per schedule of industries attached) :</div>
			<div> <input type="text" class="form-control"></div>
		<div>4. Classification of industry (to be shown as per schedule of industries attached) :</div>
			<div> <input type="text" class="form-control"></div>
		<div>5. Classification of Sector (please state to which of the following four categories the union belongs:</div>
			<div> <input type="text" class="form-control"></div>
		<div class="tab-1">(a) Public Sector – Central Sphere.</div>
			<div> <input type="text" class="form-control"></div>
		<div class="tab-1">(b) Public Sector – State Sphere.</div>
			<div> <input type="text" class="form-control"></div>
		<div class="tab-1">(c) Private Sector – Central Sphere, and</div>
			<div> <input type="text" class="form-control"></div>
		<div class="tab-1">(d) Private Sector – State Sphere</div>
			<div> <input type="text" class="form-control"></div>
		<div>6. Name of the All India Body/Federation to which to which affiliated:</div>
			<div> <input type="text" class="form-control"></div>
		<div>7. Affiliation number:</div>
			<div> <input type="text" class="form-control"></div>
		<div>8. Affiliation fee paid during the year:</div>
			<div> <input type="text" class="form-control"></div>
		<div>9. Number and date of receipt for payment of affiliation fee:</div>
			<div> <input type="text" class="form-control"></div>
		<div>10. Membership fee per month:</div>
			<div> <input type="text" class="form-control"></div>
		
		<div>11. Number of Members on books at the beginning of the year:</div>
			<div> <input type="text" class="form-control"></div>
		<div>12. Number of members admitted during the year:</div>
			<div> <input type="text" class="form-control"></div>
		<div>13. Number of members who left during the year:</div>
			<div> <input type="text" class="form-control"></div>
		<div>14. Number of members on books at the end of the year:
(i.e. on 31st December, 2020):</div>
			<div class="grid-2"> <input type="number" class="form-control" placeholder="Total male">
				 <input type="number" class="form-control" placeholder="Total female">					
			</div>
		<div>15. Number of members contributing to Political Fund:</div>
			<div> <input type="text" class="form-control"></div>
		<div>16. Number of members who paid their subscription for the whole year:</div>
			<div> <input type="text" class="form-control"></div>
		<div>17. A copy of the rules of the Trade Union corrected up to the date of dispatch of this return
is appended:</div>
			<div> <input type="text" class="form-control"></div>
		<div>18. Part B of the return overleaf has been duly completed:</div>
			<div> <input type="text" class="form-control"></div>
		
		<div style="margin-top: 40px">Dated the : <input type="date" > </div>
			<div style="margin-top: 40px; text-align: center; font-weight: bolder">Secretary</div>
		
			



	</div>
	</div>