<div class="grid-2">	
	<div>		
		<div>Balance at the beginning of the year</div>
			
		<div>Subscription from members</div>
		<div>(Including unpaid subscription due for the year</div>
		<div>(a) subscription received.</div>
		<div>(b) Subscription in arrears for There months or less.</div>
		<div>(c) Subscription in arrears for More than three months. Donations……………….</div>

		<div>Sale of periodicals, books, rules etc.</div>

		<br><br><br><br>

		<div>Interest on Investment</div>
		<div>Income from miscellaneous</div>
		<div>Source (to be specified).</div>
		
	</div>
	<div>
		<div>Salaries and allowances of office-bearers</div>
		<div>Travelling allowance, salaries,allowances and expenses of establishment. </div>
		<div>Auditor’s fees…………………………………. </div>
		<div>Legal expenses……………………………….. </div>
		<div>Expenses in conducting trade</div>
		<div>Disputes…………………………….</div>
		<div>Compensation paid to members for loss
		Arising out of trade disputes.</div>
		<div>Funeral, old age, sickness,
		 Unemployment benefits, etc.
		</div>
		<div>Educational, Social and religious benefits. </div>
		<div>Cost of publishing periodicals rents, rates and taxes. </div>
		<br><br><br>

		<div>Expenses incurred under Section 15(j)
		 Of the Trade Unions Act, 1926 (to be specified).</div>
		<div>Other expenses (to be specified)
		 Balance at end of the year.</div>
		
	</div>
</div>
<div class="grid-2">
	<div> Total</div>
	<div>Total.</div>
</div>
